.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 400px) {
        width: 400px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}